body .portfolio .portfolio-inner .portfolo-cells ul li, body header .header-menu ul li a:hover, body header .header-menu ul li a.active, body .header-top .vertical-strip, .horizontal-strip {
  box-shadow: 0 1px 7px 5px rgba(0, 0, 0, 0.2);
}

body .contact .contact-inner, body .portfolio .portfolio-inner, body .about .about-inner, body header .header-inner, body .header-top__inner {
  box-shadow: 6px 6px #8a856c, 12px 12px #6e6a56;
}

.horizontal-strip {
  margin: 0 auto;
  height: 3px;
  width: 650px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.35);
}

body {
  background: #2b3747;
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 12px;
}
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background: #879cb7;
}
body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  background: #516887;
}
body h1,
body h2,
body h3,
body p,
body a,
body i {
  font-family: "Montserrat", sans-serif;
  color: #222;
  text-decoration: none;
}
body .bg-top {
  width: 100vw;
  position: absolute;
  z-index: -2;
  left: 0;
}
body .bg-bot {
  width: 100vw;
  position: absolute;
  z-index: -2;
  left: 0;
  bottom: 0;
}
body .container {
  width: 720px;
  margin: 0 auto;
}
body .header-top {
  padding-top: 150px;
  display: flex;
  position: relative;
  z-index: -1;
  transform: scaleY(1);
  transition: 0.5s ease-in-out;
}
body .header-top__inner {
  padding: 30px;
  display: flex;
  background: #ADA996;
  margin-right: 12px;
}
body .header-top__photo {
  margin-right: 15px;
}
body .header-top__photo img {
  width: 150px;
}
body .header-top .vertical-strip {
  margin: auto 20px;
  height: 180px;
  width: 3px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.35);
}
body .header-top__text {
  margin-left: 16px;
}
body .header-top__text h1 {
  font-weight: 900;
  font-size: 36px;
  margin: 50px 20px 50px 20px;
  text-transform: uppercase;
}
body .header-top__text p {
  font-weight: 700;
  font-size: 22px;
  text-transform: uppercase;
}
body header {
  transition: 0.5s ease-in-out;
}
body header .header-inner {
  background: #ADA996;
  margin-right: 12px;
}
body header .header-menu {
  margin: 10px 30px;
}
body header .header-menu ul {
  display: flex;
  justify-content: space-between;
}
body header .header-menu ul li {
  width: 100%;
  display: flex;
  justify-content: center;
}
body header .header-menu ul li a {
  width: 100px;
  height: 100px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body header .header-menu ul li a.active {
  background: #ddd;
}
body header .header-menu ul li a:hover {
  background: #ddd;
}
body header .header-menu ul li a i {
  font-size: 50px;
  margin-bottom: 10px;
}
body header .header-menu ul li a p {
  font-weight: 700;
}
body .about {
  padding-bottom: 0px;
  display: flex;
  position: relative;
  transform: translateX(-2000px);
  margin-top: -1128px;
  transition: 0.5s ease-in-out;
}
body .about .about-inner {
  padding-top: 10px;
  background: #ADA996;
  margin-right: 12px;
}
body .about .about-inner .about-top {
  display: flex;
  padding: 30px;
  margin: 0 50px;
  justify-content: space-between;
  align-items: center;
}
body .about .about-inner .about-top__name {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 40px;
  line-height: 50px;
  text-indent: 100px;
}
body .about .about-inner .about-top__photo img {
  width: 150px;
}
body .about .about-inner .about-descr {
  padding: 0 50px 30px 50px;
  text-indent: 30px;
  text-align: justify;
}
body .about .about-inner .about-skills {
  margin: 30px 30px 0 30px;
  padding-bottom: 30px;
}
body .about .about-inner .about-skills__title {
  font-size: 30px;
  font-weight: 700;
  margin: 0 0 20px 30px;
}
body .about .about-inner .about-skills ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
body .about .about-inner .about-skills ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 140px;
  border: 5px solid #222;
  border-radius: 50%;
  margin: 10px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
body .about .about-inner .about-skills ul li.active {
  width: 100%;
  border-radius: 100px;
}
body .about .about-inner .about-skills ul li.active i {
  display: none;
}
body .about .about-inner .about-skills ul li.active i.not-fa {
  display: none;
}
body .about .about-inner .about-skills ul li.active .portfolo-cell__content {
  display: flex;
  flex-direction: column;
  padding: 30px 50px;
  text-align: justify;
}
body .about .about-inner .about-skills ul li.active .portfolo-cell__content h3 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 12px;
  text-align: center;
}
body .about .about-inner .about-skills ul li i {
  font-size: 70px;
}
body .about .about-inner .about-skills ul li i.not-fa {
  display: inline-block;
  width: 1em;
  height: 1em;
  background: url() 0 0 no-repeat;
  background-size: auto 100%;
  vertical-align: middle;
}
body .about .about-inner .about-skills ul li i.not-fa.jquery {
  background-image: url(../fonts/sprites/jQuery_icon-icons.com_68967.svg), none;
}
body .about .about-inner .about-skills ul li i.not-fa.blender {
  background-image: url(../fonts/sprites/blender.svg);
}
body .about .about-inner .about-skills ul li .portfolo-cell__content {
  display: none;
}
body .portfolio {
  padding-bottom: 0px;
  display: flex;
  position: relative;
  transform: translateX(-2000px);
  margin-top: -728px;
  transition: 0.5s ease-in-out;
}
body .portfolio .portfolio-inner {
  padding-top: 10px;
  background: #ADA996;
  margin-right: 12px;
}
body .portfolio .portfolio-inner .portfolo-cells {
  margin: 30px 30px 0 30px;
  padding-bottom: 30px;
}
body .portfolio .portfolio-inner .portfolo-cells ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
body .portfolio .portfolio-inner .portfolo-cells ul li {
  width: 280px;
  height: 146px;
  border: 10px solid #f1f1f1;
  overflow: hidden;
  position: relative;
  text-align: center;
  margin: 10px;
}
body .portfolio .portfolio-inner .portfolo-cells ul li img {
  width: 100%;
  height: 100%;
}
body .portfolio .portfolio-inner .portfolo-cells ul li .portfolo-cells__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 280px;
  height: 146px;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transform: translate(400px, -100px) rotate(180deg);
  transition: 0.45s ease-in-out;
}
body .portfolio .portfolio-inner .portfolo-cells ul li .portfolo-cells__content h3 {
  text-transform: uppercase;
  position: relative;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 700;
  padding: 15px 10px;
  background: rgba(0, 0, 0, 0.8);
  color: #ddd;
  transform: translateY(-100px);
  transition: 0.2s ease-in-out;
}
body .portfolio .portfolio-inner .portfolo-cells ul li .portfolo-cells__content p {
  font-size: 12px;
  position: relative;
  padding: 10px 10px;
  transform: translateX(300px) rotate(90deg);
  transition: 0.2s ease-in-out;
  color: #fff;
}
body .portfolio .portfolio-inner .portfolo-cells ul li .portfolo-cells__content a {
  align-self: center;
  display: inline-block;
  padding: 7px 15px;
  border: 1px solid #f1f1f1;
  color: #ddd;
  text-transform: uppercase;
  transform: translateY(-200px);
  transition: 0.2s ease-in-out;
}
body .portfolio .portfolio-inner .portfolo-cells ul li .portfolo-cells__content a:hover {
  background: rgba(255, 255, 255, 0.4);
}
body .portfolio .portfolio-inner .portfolo-cells ul li:hover .portfolo-cells__content {
  opacity: 1;
  transition-delay: 0s;
  transform: translate(0, 0);
}
body .portfolio .portfolio-inner .portfolo-cells ul li:hover .portfolo-cells__content h3 {
  transition-delay: 0.5s;
  transform: translateY(0);
}
body .portfolio .portfolio-inner .portfolo-cells ul li:hover .portfolo-cells__content p {
  transition-delay: 0.4s;
  transform: translateX(0) rotate(0);
}
body .portfolio .portfolio-inner .portfolo-cells ul li:hover .portfolo-cells__content a {
  transition-delay: 0.3s;
  transform: translateY(0);
}
body .contact {
  padding-bottom: 0px;
  display: flex;
  position: relative;
  transform: translateX(-2000px);
  margin-top: -278px;
  transition: 0.5s ease-in-out;
}
body .contact .contact-inner {
  padding-top: 10px;
  background: #ADA996;
  margin-right: 12px;
}
body .contact .contact-inner .contact-cells {
  margin: 30px 30px 0 30px;
  padding-bottom: 20px;
}
body .contact .contact-inner .contact-cells a {
  display: flex;
  margin: 8px;
  padding: 5px;
  font-size: 22px;
}
body .contact .contact-inner .contact-cells a i {
  padding-right: 15px;
}

/*# sourceMappingURL=style.css.map */
