$bg-color: #2b3747
$main-color: #ADA996
$font-motserat: 'Montserrat', sans-serif

%shadow
	box-shadow:0 1px 7px 5px rgba(0, 0, 0, .2)

%clonned
	box-shadow: 6px 6px darken($main-color, 15), 12px 12px darken($main-color, 25)

@function set-text-color($color)
	@if (lightness($color) > 50)
		@return #222
	@else 
		@return #eee

h1,
h2,
h3,
p,
a,
i,
span
	font-family: $font-motserat
	color: set-text-color($main-color)
	text-decoration: none

.content-EN
	display: none

.content-RU
	display: inline-block

.horizontal-strip
	@extend %shadow
	margin: 0 auto
	height: 3px
	width: 90%
	border-radius: 50%
	background: rgba(0,0,0,.35)

.vertical-strip
	@extend %shadow
	margin: auto 20px
	width: 3px
	height: 100px
	border-radius: 50%
	background: rgba(0,0,0,.35)

@keyframes rotation
	0%
		transform: rotate(0deg)
		
	100%
		transform: rotate(360deg)	
	
//Media Query Mixins
@mixin mediaSm
	@media screen and (max-width: 500px)
		@content

@mixin mediaMd
	@media screen and (max-width: 768px)
		@content

@mixin mediaLg
	@media screen and (min-width: 769px) and (max-width: 1170px)
		@content

@mixin mediaXL
	@media screen and (min-width: 1171px) 
		@content