@import 'config'

body
   background: $bg-color
   position: relative
   min-height: 100vh
   overflow-x: hidden

   &::-webkit-scrollbar 
      width: 12px
 
      &-track 
         -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3)
         border-radius: 10px
         background: lighten($bg-color, 40)
 
      &-thumb 
         border-radius: 10px
         -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5)
         background: lighten($bg-color, 20)

   .bg
      &-top
         width: 100vw
         position: absolute
         z-index: -2
         left: 0

      &-bot
         width: 100vw
         position: absolute
         z-index: -2
         left: 0
         bottom: 0

   .container
      width: 720px
      margin: 0 auto

   .setings
      padding-top: 150px
      
      &__inner
         display: flex       

         .setings-button
            width: 25px
            height: 25px
            background: $main-color
            display: flex
            justify-content: center
            align-items: center
            border: 3px solid set-text-color($bg-color)
            transition: .5s ease-in-out

            i
               font-size: 20px

            &.active
               i
                  animation: 5s linear rotation

         .setings-window
            height: 50px
            margin-left: 20px
            margin-top: -25px
            background: $main-color
            display: flex
            justify-content: center
            align-items: center
            border: 3px solid set-text-color($bg-color)
            transform: scaleX(0)
            transition: .5s ease-in-out

            .setings-lang
               width: 25px
               margin-left: 15px
               padding: 3px
               position: relative
               border: 3px solid set-text-color($main-color)

               &__check
                  display: none

                  &:checked ~ span:nth-last-child(1)
                     color: set-text-color($main-color)

                  &:checked ~ span:nth-last-child(2)
                     color: #ddd
               
               [for="check-lang"] 
                  width: 25px
                  height: 32px
                  position: absolute
                  display: inline-block
                  cursor: pointer

               span
                  font-weight: 700
                  transition: .5s ease-in-out
                  color: set-text-color($main-color)

                  &:nth-last-child(1)
                     color: #ddd

            .setings-light
               width: 35px
               padding: 3px
               position: relative
               border: 3px solid set-text-color($main-color)
               display: flex
               flex-wrap: wrap
               justify-content: center

               &__check
                  display: none

                  &:checked ~ span:nth-last-child(1)
                     color: set-text-color($main-color)

                  &:checked ~ span:nth-last-child(2)
                     color: #ddd
               
               [for="check-light"] 
                  width: 35px
                  height: 32px
                  position: absolute
                  display: inline-block
                  cursor: pointer

               span
                  font-weight: 700
                  transition: .5s ease-in-out
                  color: set-text-color($main-color)

                  &:nth-last-child(1)
                     color: #ddd

            .vertical-strip
               height: 35px
               width: 2px
               margin: auto 10px

         .setings-color
            width: 80px

            ul
               display: flex
               flex-wrap: wrap

               li
                  height: 18px
                  width: 18px
                  margin: 3px

                  button
                     width: 100%
                     height: 100%
                     border: 2px solid set-text-color($main-color)
                     border-radius: 50%

                  &:nth-child(1)
                     button
                        background: #ADA996

                  &:nth-child(2)
                     button
                        background: #c5c0d1

                  &:nth-child(3)
                     button
                        background: #a9b0d1

                  &:nth-child(4)
                     button
                        background: #A8BA9A

                  &:nth-child(5)
                     button
                        background: #e3b48a

                  &:nth-child(6)
                     button
                        background: #8ebfbd                 

   .header-top
      padding-top: 10px
      display: flex
      position: relative
      z-index: -1
      transform: scaleY(1)
      transition: .5s ease-in-out

      &__inner
         padding: 30px
         display: flex  
         background: $main-color
         margin-right: 12px
         @extend %clonned 
         transition: .5s ease-in-out 
         
      &__photo
         margin-right: 15px

         img
            width: 150px

      .vertical-strip
         height: 180px

      &__text
         margin-left: 16px

         h1 
            font-weight: 900
            font-size: 34px
            margin: 50px 20px 50px 20px
            text-transform: uppercase

         p
            font-weight: 700
            font-size: 22px
            text-transform: uppercase

   header
      transition: .5s ease-in-out

      .header-inner
         background: $main-color
         margin-right: 12px
         @extend %clonned 
         transition: .5s ease-in-out

      .header-menu
         margin: 10px 30px

         ul
            display: flex
            justify-content: space-between
            
            li
               width: 100%
               display: flex
               justify-content: center

               a
                  width: 100px
                  height: 100px
                  text-transform: uppercase
                  display: flex
                  flex-direction: column
                  justify-content: center
                  align-items: center

                  &.active
                     background: #ddd
                     @extend %shadow

                  &:hover
                     background: #ddd
                     @extend %shadow
                  
                  i
                     font-size: 50px
                     margin-bottom: 10px

                  p
                     font-weight: 700

   .about
      padding-bottom: 0px
      display: flex
      position: relative
      transform: translateX(-2000px)
      margin-top: -1128px
      transition: .5s ease-in-out

      .about-inner
         padding-top: 10px
         background: $main-color
         margin-right: 12px
         @extend %clonned
         transition: .5s ease-in-out

         .about-top
            display: flex
            padding: 30px
            margin: 0 50px
            justify-content: space-between
            align-items: center

            &__name
               text-transform: uppercase
               font-weight: 900
               font-size: 40px 
               line-height: 50px
               text-indent: 100px

            &__photo
               img
                  width: 150px

         .about-descr
            padding: 0 50px 30px 50px
            text-indent: 30px
            text-align: justify

         .about-skills
            margin: 30px 30px 0 30px
            padding-bottom: 30px

            &__title
               font-size: 30px
               font-weight: 700
               margin: 0 0 20px 30px

            ul
               display: flex
               flex-wrap: wrap 
               justify-content: center              

               li
                  display: flex
                  justify-content: center
                  align-items: center
                  width: 140px
                  height: 140px
                  border: 5px solid set-text-color($main-color)
                  border-radius: 50%
                  margin: 10px
                  cursor: pointer
                  transition: .5s ease-in-out

                  &.active
                     width: 100%
                     border-radius: 100px

                     i
                        display: none

                        &.not-fa
                           display: none

                     .portfolo-cell__content
                        display: flex
                        flex-direction: column
                        padding: 30px 50px
                        text-align: justify

                        h3
                           font-size: 28px
                           font-weight: 700
                           margin-bottom: 12px
                           text-align: center

                  i
                     font-size: 70px

                     &.not-fa
                        display: inline-block
                        width: 1em
                        height: 1em
                        background: url() 0 0 no-repeat
                        background-size: auto 100%
                        vertical-align: middle

                        &.jquery
                           background-image: url(../fonts/sprites/jQuery_icon-icons.com_68967.svg), none
                           
                        &.blender
                           background-image: url(../fonts/sprites/blender.svg)

                  .portfolo-cell__content
                     display: none
                     
   .portfolio
      padding-bottom: 0px
      display: flex
      position: relative
      transform: translateX(-2000px)
      margin-top: -728px
      transition: .5s ease-in-out

      .portfolio-inner
         padding-top: 10px
         background: $main-color
         margin-right: 12px
         @extend %clonned
         transition: .5s ease-in-out

         .portfolo-cells
            margin: 30px 30px 0 30px
            padding-bottom: 30px

            ul
               display: flex
               flex-wrap: wrap 
               justify-content: center              

               li
                  width: 280px
                  height: 146px
                  border: 10px solid #f1f1f1
                  overflow: hidden
                  position: relative
                  text-align: center
                  @extend %shadow
                  margin: 10px

                  img
                     width: 100%
                     height: 100%        

                  .portfolo-cells__content
                     display: flex
                     flex-direction: column
                     justify-content: center
                     width: 280px
                     height: 146px
                     position: absolute
                     overflow: hidden
                     top: 0
                     left: 0
                     background: rgba(0,0,0,.5)
                     opacity: 0
                     transform: translate(400px, -100px) rotate(180deg)
                     transition: .45s ease-in-out

                     h3
                        text-transform: uppercase
                        position: relative
                        letter-spacing: 1px
                        font-size: 14px
                        font-weight: 700
                        padding: 15px 10px
                        background: rgba(0,0,0,.8)
                        color: #ddd
                        transform: translateY(-100px)
                        transition: .2s ease-in-out

                     p
                        font-size: 12px
                        position: relative
                        padding: 10px 10px
                        transform: translateX(300px) rotate(90deg)
                        transition: .2s ease-in-out
                        color: #fff                        

                     a
                        align-self: center
                        display: inline-block
                        padding: 7px 15px
                        border: 1px solid #f1f1f1
                        color: #ddd
                        text-transform: uppercase
                        transform: translateY(-200px)
                        transition: .2s ease-in-out

                        &:hover
                           background: rgba(255,255,255,.4)

                  &:hover
                     .portfolo-cells__content
                        opacity: 1
                        transition-delay: 0s
                        transform: translate(0,0)

                        h3
                           transition-delay: .5s
                           transform: translateY(0)

                        p
                           transition-delay: .4s
                           transform: translateX(0) rotate(0)

                        a
                           transition-delay: .3s
                           transform: translateY(0)
                     
   .contact
      padding-bottom: 0px
      display: flex
      position: relative
      transform: translateX(-2000px)
      margin-top: -278px
      transition: .5s ease-in-out

      .contact-inner
         padding-top: 10px
         background: $main-color
         margin-right: 12px
         @extend %clonned
         transition: .5s ease-in-out

         .contact-cells
            margin: 30px 30px 0 30px
            padding-bottom: 20px

            a
               display: flex
               margin: 8px
               padding: 5px
               font-size: 22px

               i
                  padding-right: 15px

@import 'mobile'